:root {
  --thema-main-color: #8e24aa;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}



.ml-auto {
  margin-left: auto;
}

.mr-1{
  margin-right: 20px;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mxy-auto{
  margin: auto;
}

/*Header style*/
.header .brand-logo {
  position: static;
}

.header .currency-select input.select-dropdown {
  margin: 0;
  color: #fff;
  border-bottom: none;
}

.header .currency-select input.select-dropdown:focus {
  border-bottom: none;
}

.header .currency-select {
  width: 120px;
}

.header .currency-select .caret {
  fill: #fff;
}

.header {
  background-color: var(--thema-main-color);
}

.header .brand-logo {
  font-size: 1.5rem;
}

form .card-content input[type="text"].autocomplete:focus {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--thema-main-color);
  box-shadow: 0 1px 0 0 var(--thema-main-color);
}

form .card-content input[type="text"].datepicker:focus {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--thema-main-color);
  box-shadow: 0 1px 0 0 var(--thema-main-color);
}

.modal .datepicker-date-display {
  background-color: var(--thema-main-color);
}

.modal .datepicker-day-button:focus {
  background-color: var(--thema-main-color);
}

 .datepicker-table td.is-today {
  color:#fdd835  !important;
}

.is-today,
.is-selected .datepicker-day-button {
  background-color: var(--thema-main-color);
}

.confirmation-btns .btn-flat {
  color: var(--thema-main-color);
}

.is-today.datepicker-day-button {
  background-color: var(--thema-main-color);
}

.card-action button{
  width: 120px;
}

.ticket-card {
  padding: 10px 15px;
}

.ticket-airline-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ticket-airline-img {
  max-width: 100px;
  margin-right: 20px;
}

.ticket-destination {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}

.ticket-destination .ticket-city {
  font-size: 26px;
  text-transform: uppercase;
}

.ticket-destination i.material-icons {
  font-size: 26px;
}

.ticket-time-departure {
  font-weight: bold;
  color: gray;
}

.ticket-price {
  font-size: 25px;
  padding: 5px;
  background: #6a1b9a;
  color: #fff;
}

.ticket-additional-info {
  font-size: 14px;
  font-weight: bold;
}

.tickets-empty-res-msg {
  padding: 10px 15px;
  text-align: center;
  background: whitesmoke;
  font-weight: bold;
  font-size: 18px;
}

.favorites .dropdown-content {
 width: auto !important ;
  color: #000;
}

.favorites .favorite-item-airline-img {
  max-width: 100px;
  margin: 10px;
}

.favorites .favorite-item-info {
  flex-grow: 1;
  padding: 10px;
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-info .material-icons {
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-destination {
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
}

.favorites .ticket-price {
  font-size: 18px;
  font-weight: bold;
}

.favorites .ticket-additional-info {
  font-size: 12px;
}

.favorites .ticket-time-departure {
  font-size: 14px;
}

.favorites .delete-favorite {
  margin: 10px;
}

.card-content{
  line-height: initial;
}

.favorites .card-stacked .card-content{
  padding: 5px;
}

.card,.horisontal{
  margin: 0 !important;
}

.index{
  visibility: hidden;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: var(--thema-main-color) !important;
}